################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Arquivarme/.vs/Arquivarme/v16/Server/sqlite3
